@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Merriweather:300,400,700');

html{
	height: 100%;
	min-height: 100%;
}

body {
	font-family: "Merriweather", sans-serif;
	padding: 0;
	margin: 0;
	font-size: 20px;
	height: 100%;
	min-height: 100%;
}

p {
	line-height: 1.6em;
}

h1,
h2 {
	padding: 0;
	margin: 0;
	color: #222
}

h1 {
	font-weight: normal;
}

#titulo {
	font-family: Inconsolata;
	font-size: 1.5em;
	text-align: center;
}

#creditvolt{
	font-family: Inconsolata;
	font-size: 1.2em;
	font-weight: 700;
	letter-spacing: 2px;
}

#creditvolt a{
	text-decoration: overline;
  color: #fff;
	border: none
}

#creditvolt a:hover{
  color: #fff;
	text-decoration: underline;
	border: none
}

h2 {
	font-size: 42px;
	text-align: center;
}

h3 {
	font-size: 1.8em;
	margin: 15px 0;
	font-family: Inconsolata;
}

img {
	max-width: 700px;
	width: 100%;
	height: auto;
}

div.container,
div.small-container {
	margin: 0 auto;
	padding: 0px 20px;
}

div.container {
	max-width: 100%;
}

div.small-container {
	max-width: 700px;
	padding: 20% 0;
}

@media (max-width: 720px) {
	div.small-container{
		padding: 50% 0;
		max-width: 500px;
	}
}

header {
	background: #a7000c;
	color: #ffffff;
}

section.hero {
	color: #fff;
	background-image: url('/images/bgminor.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: top;
	height: 100vh;
}

.overlay {
	background-color: rgba(0,0,0,.5);
	height: 100vh;
}

p.post-hero {
	width: 80%;
	margin: 0 auto;
}

header a {
	text-decoration: none;
	color: #fff;
}

header a:hover{
	text-decoration: none;
	color: #cbcbcb;
	border: 0px solid #cbcbcb
}

section.hero a, a{
	color: #222;
	border-bottom: 3px #a7000c solid;
	text-decoration: none;
}

section.hero a:hover, a:hover{
	color: #777;
	border-bottom: 3px #222 solid;
	text-decoration: none;
}

.arquivo{
	color: #a7000c;
	font-family: Inconsolata;
	text-transform: uppercase;
	font-weight: 700
}

header {
	padding: 3px 0;
}

nav.main-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 2px;
}

nav.main-nav li,
nav.main-nav a {
	display: inline-block;
	border-bottom: #fff 1px solid;
}

nav.main-nav li a {
	padding: 10px;
}

nav.main-nav a:hover{
	border-bottom: #fff 2px solid;
}

nav.main-navdois ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 2px;
}

nav.main-navdois li,
nav.main-navdois a {
	display: inline-block;
	border-bottom: #fff 1px solid;
}

nav.main-navdois li a {
	padding: 10px;
}

nav.main-navdois a:hover{
	border-bottom: #fff 2px solid;
}

div.content {
	background: #fff;
}

section.hero {
	background-color:  none
}

p.sub-text, h2.sub-text {
	text-align: center;
	line-height: 1.2em;
	color: #fff;
}

.center-text {
	text-align: center;
}

.columns:after {
	content: "";
	display: table;
	clear: both;
}

.spacing {
	padding: 50px 0 0px;
}

#titulopost{
	font-size: 2.5em;
}

.column {
	box-sizing: border-box;
	float: left;
}

.column.third {
	width: 33%;
	padding: 0 20px;
	text-align: center;
}

.column.half {
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
}

.blog-post {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.blog-post .date {
	/* float: right; */
}

.comment {
	border: 1px solid #CCC;
	padding: 20px 50px;
	color: #777;
	position: relative;
	font-size: .9em;
	margin: 30px 0;
}

.comment h4 {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 40px;
	left: 143px;
}

.comment span.date {
	position: absolute;
	top: 64px;
	left: 142px;
}

.comment .profile-image img {
	width: 80px;
	height: 80px;
	border-radius: 100px;
}

hr {
	border: 1px solid #eee;
	margin: 60px 0;
}

textarea,
input[type="text"] {
	padding: 20px 0 20px 10px;
	font-size: 18px;
	display: block;
	box-sizing: padding-box;
	font-family: Inconsolata
}

textarea {
	height: 250px;
	line-height: 1.5em;
	border: 1px solid #ccc;
	resize: none;
}

label {
	margin: 30px 0 10px 0;
	display: block;
}

input[type="submit"] {
	margin: 30px 0 0 0;
	font-size: 20px;
}

.search {
	width: 50%;
	margin: 0 auto;
	padding: 100px 0;
}

.summary {
	font-size: 16px;
}

#search_box{
	width: 100%
}

@media (max-width: 720px) {
	#search_box{
		width: 96%
	}
}

.busca {
	padding: 100px 0;
	margin: 0 auto;
}

.photocredit{
	float:right;
	margin:3px;
	padding:0;
	font-weight: 300;
	font-size: 12px;
}

/* Footer */

.containerdois {
	max-width: 700px;
	width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

#logofoot{
	width: 60px
}

footer{
  background-color: #cbcbcb;
  margin-top: 80px;
  padding: 50px 0 30px 0px;
  min-height: 250px;
  width: 100%
}

footer h6{
  margin-bottom:12px;
}

footer a{
  color: #000
}

footer a:hover{
  color: #a7000c
}

.esquerda {
  float: left;
  max-width: 60%;
  margin: 0 30px 0 0;
}

.direita {
  float: right;
}

.break {
  padding: 120px 0;
  background-color: #ededed;
  margin: 100px 0;
}

@media (max-width: 720px) {
  .direita {
    float: left;
		margin-right: 60px;
    border-top: 0px solid #000;
  }
  .esquerda {
    float: left;
    max-width: 300px;
  }
  footer{
    height: 450px;
  }
}
