<hr class="desap" />

<button class="download-graph"><a id="download" href="/graf/{{ page.feature_image }}" download="volt-mono-{{ page.feature_image }}">Faça o download do gráfico aqui</a></button>

<h6 class="graph-foot">Todos os gráficos do Mono são distribuídos sob a licença <em>Creative Commons</em> 4.0 de igual compartilhamento,
o que significa que você pode usar nossos gráficos livremente para quaisquer fins, inclusive para uso comercial e para modificações,
contanto que seu trabalho disponibilize a mesma licença. Essa é a mesma regra utilizada pela Wikipedia.
Para saber mais, <a href="/termos_de_uso">leia os termos de uso dos gráficos do Mono</a>.</h6>

<h6 class="graph-foot">Atribuição deve ser dada a <a href="http://mono.voltdata.info">Mono/Volt Data Lab</a>.</h6>

<!--
<form method="get" action="/graf/{{ page.feature_image }}">
<button type="submit">Download!</button>
</form> -->
<img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" id="ccommons"/>

<style>

.graph-foot {
  font-family: Inconsolata;
  line-height: 1.2em
}

@media screen and (max-width: 750px) {
    .desap {
        display: none
    }
}

</style>
