<section class="sidebar col-md-5 col-sm-12" style='background-image: url({{"/img/" | append: page.feature_image | prepend: site.baseurl }}.jpg);'>

    <span class="menu-trigger animated fadeInDown">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </span>
    <section class="header-master">
    <div style="text-align:right;margin-right:30px;margin-top:-30px;">
      <br />
      <h1 id="logo"><a href="/">M0N0</a></h1>
      <p style="font-size:16px;line-height:10px">Um banco de gráficos sobre tudo<br /><br />por <span style="font-family:Inconsolata"><a href="http://voltdata.info" target="_blank">Volt Data Lab</a></span></p>
    </div>
    <div style="margin: 50px 30px 1% 1%;text-align:right">
      <form action="/search.html" method="get">
      <label for="search-box">Busque por qualquer coisa</label>
      <input type="text" id="search-box" name="query" placeholder="Ex. Brasil, Turismo, Morsas">
      <!-- <input type="submit" value="search"> -->
    </form>
  </div>
</section>
    <div class="site-info">
        <div class="primary-info">
            <h1>{{ page.title }}</h1>
            <p>{{ page.desc }}</p>

        </div>

        {% if page.include_cta_btn == true %}
        <div class="secondary-info">
            <p>
                <a class="btn btn-primary" href="{{ page.cta_link | prepend: site.baseurl }}"><i class="fa {{ page.cta_icon }}"></i>{{page.cta_text}}</a>
            </p>
        </div>
        {% endif %}
    </div>
</section><!-- end sidebar -->
