<!doctype html>

{% include headpost.html %}
<body>
	<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1085014414958426',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
	<header>
		<div class="container">
			<nav class="main-nav">
				<ul>
					<li><a href="/sobre.html">Sobre</a></li>
					<li><a href="/quem.html">Quem Faz</a></li>
				</ul>
			</nav>
			<nav class="main-navdois">
				<ul>
					<li><a href="/colabore.html">Colabore</a></li>
					<li><a href="/search.html"><i class="fa fa-search" aria-hidden="true"></i>
Explore</a></li>
				</ul>
			</nav>
			<h1 id="titulo"><a href="/">M0N0</a></h1>
		</div>
	</header>
	<div class="content">
		{{ content }}
	</div>
{% include footer.html %}
</body>
</html>
