<!doctype html>

{% include head.html %}
	<body>
		<meta property="og:image" content="https://c1.staticflickr.com/1/722/31908599374_641672ed69_z.jpg" />
		<header>
			<div class="container">
				<nav class="main-nav">
					<ul>
						<li><a href="/sobre.html">Sobre</a></li>
						<li><a href="/search.html">Explore</a></li>
					</ul>
				</nav>
				<h1 id="titulo"><a href="/">M0N0</a></h1>
			</div>
		</header>
		<div class="content">
			{{ content }}
		</div>
{% include footer.html %}
	</body>
</html>
