---
layout: default
---
<main class="container left-container">
    <div class="row">

        {% include nav.html %}

        <section class="sidebar col-md-6 col-sm-12" >

            <span class="menu-trigger animated fadeInDown">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </span>
            <section class="header-master">
            <div style="text-align:right;margin-right:30px;margin-top:-30px;">
              <br />
              <h1 style="color:#a7000c"><a href="/" style="border:0">M0N0</a></h1>
              <p style="font-size:16px;line-height:10px">Um banco de gráficos sobre tudo<br /><br />por <span style="font-family:Inconsolata"><a href="http://voltdata.info" target="_blank">Volt Data Lab</a></span></p>
              <div class="social-links">
                <a href="https://medium.com/volt-data-lab" target="_blank" style="border-bottom:0;margin-left:10px"><i class="fa fa-medium fa-4x" aria-hidden="true"></i></a>
                <a href="https://twitter.com/voltdatalab" target="_blank" style="border-bottom:0;margin-left:10px"><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></a>
                <a href="https://facebook.com/voltdata" target="_blank" style="border-bottom:0;margin-left:10px"><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a>
              </div>
            </div>
            <div style="margin: 50px 30px 1% 1%;text-align:right">
              <form action="/search.html" method="get">
              <label for="search-box">Busque por qualquer coisa</label>
              <input type="text" id="search-box" name="query" placeholder="Ex. Brasil, Turismo, Morsas">
              <!-- <input type="submit" value="search"> -->
            </form>

          </div>
        </section>

            <div class="sub-nav">
                <a href="#">Mais Recentes</a>
            </div>

            <div class="animated fadeIn">
                {% for post in site.posts %}
                    {% if forloop.index <= page.post_count %}
                    <article class="post">
                        <div class="post-preview col-xs-10 no-gutter">
                            <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

                            <p class="meta">
                                Arquivado em <span style="font-family:Inconsolata;text-transform:uppercase;font-weight:700"><a href='{{ "/category/" | append: post.categories.first | prepend: site.baseurl }}'>{{ post.categories.first | capitalize}}</span></a>
                            </p>
                        </div>
                    </article>
                    {% endif %}
                {% endfor %}

            </div><!-- Home page posts -->

        </section><!-- end sidebar -->

        <section class="col-md-6 col-sm-12 col-md-offset-6 alt-main" style="margin-top:5%">

            <p>
              O Mono é um banco de gráficos mantido pela agência <a href="http://voltdata.info" target="_blank">Volt Data Lab</a>.
            </p>
            <p>
              Com ele, esperamos fornecer informações importantes de uma maneira
              concisa e interessante.
            </p>
            <p>
              Use a caixa de busca ao lado para procurar por tópicos de seu interesse,
              ou simplesmente <a href="/explore">explore</a> as nossas seções. Todos
              os gráficos que produzimos são indexados, <em>tageados</em> e referenciados
              com as fontes de informação que utilizamos.
            </p>
            <p>
              Para saber mais sobre o projeto, clique <a href="/sobre">aqui</a>.
            </p>

            <div class="sub-nav">
                <a href="#" >categorias</a>
            </div>



            <div class="home-page-categories animated fadeIn ">
                <div class="category row">
                    <section>
                        {% for category in site.categories %}

                            <div class="category-preview col-xs-6 col-sm-4 ">
                                <h2>{{ category | first }}</h2>
                                <a href='{{ "/category/" | append: category.first | prepend: site.baseurl }}/'>
                                    <img src='{{ "/img/" | append: category.first | prepend: site.baseurl }}-thumbnail.png' alt="category-image" height="230px" width="160px;">
                                </a>
                            </div>
                        {% endfor %}

                    </section>
                </div>
            </div>

            {% include mini-footer.html %}
        </section><!-- main content -->
    </div> <!--/row -->
</main> <!-- /container -->
