---
layout: default
---

<header class="hero-image" style="background-image: url({{ site.baseurl }}/heroes/{{page.hero_image}});">
    <span class="menu-trigger animated fadeInDown">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </span>

    {% include nav.html %}
    <h1 style="color:#a7000c;float:right;margin-right:30px;"><a href="/">M0N0</a></h1>
    <div class="hero-div">
      <h1 class="hero-title" media="screen and (max-width: 480px)">{{ page.hero-title }}</h1>
    </div>

</header>
<h6 class="credito_img">Crédito: {{ page.credito_img }}</h6>
<main class="container">
    <div class="row">
        <div class="col-xs-12 single-content">
            <p class="meta">
                Por <a href="{{ page.author_url | prepend: site.baseurl }}">{{ page.author_name }}</a> <i class="link-spacer"></i> <span>Arquivado em <a href='{{ "/category/" | append: page.categories.first | prepend: site.baseurl }}'>{{ page.categories[0] | capitalize }}</a></span> <i class="link-spacer"></i> Especial

            <h2>{{ page.title }}</h2>
            <hr />

            {{ content }}

        </div><!-- main-content/col -->
    </div> <!--/row -->

</main> <!-- /container -->

<footer class="single">
    {% include footer-single.html %}

    {% if page.show_related_posts == true %}
        {% include footer-related-posts.html %}
    {% endif %}
</footer>

<style>
@media screen and (max-width: 760px){
    .hero-title{
      display: none
      }
    }
</style>
